@charset "utf-8";

/*------------// Overall //------------------*/

body {
    margin: 0;
    background: #e7e7e7;
    color: #797979;
    font: 12px/180% Arial, Helvetica, Verdana;
    margin: 0;
}


body.login {
    background: url(/image/login_bgx.gif);
}

h2 {
    font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

div {
    list-style: none;
    padding: 0;
    text-justify: inter-ideograph;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#header {
    margin: 0 auto;
    width: 992px;
    z-index: 2;
    position: relative;
}


.login_m {
    width: 403px;
    margin: 0 auto;
    height: 375px;
    margin-top: 98px;
}

.login_boder {
    background: url(/image/login_m_bg.png) no-repeat;
    height: 302px;
    overflow: hidden;
}

.login_padding {
    padding: 28px 47px 20px 47px;
}

.login_boder h2 {
    color: #4f5d80;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 11px;
}

.login_boder input.txt_input {
    width: 295px;
    height: 36px;
    border: 1px solid #cad2db;
    padding: 0 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 36px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #717171;
    font-family: Arial;
}

.login_boder input.txt_input2 {
    margin-bottom: 20px;
}

.login_boder input.txt_input:focus {
    transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, -moz-box-shadow linear .2s;
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
    outline: none;
    border-color: rgba(173, 173, 173.75);
    box-shadow: 0 0 8px rgba(173, 173, 173, .5);
    -moz-box-shadow: 0 0 8px rgba(173, 173, 173, .5);
    -webkit-box-shadow: 0 0 8px rgba(173, 173, 173, 3);
    border: 1px solid #6192c8;
}

.login_boder input.txt_input {
    width: 295px;
    height: 36px;
    border: 1px solid #cad2db;
    padding: 0 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 36px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #717171;
    font-family: Arial;
}

.login_boder input.txt_input2 {
    margin-bottom: 20px;
}

.login_boder input.txt_input:focus {
    transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, -moz-box-shadow linear .2s;
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
    outline: none;
    border-color: rgba(173, 173, 173.75);
    box-shadow: 0 0 8px rgba(173, 173, 173, .5);
    -moz-box-shadow: 0 0 8px rgba(173, 173, 173, .5);
    -webkit-box-shadow: 0 0 8px rgba(173, 173, 173, 3);
    border: 1px solid #6192c8;
}


.rem_sub input.sub_button {
    float: right;
    width: 122px;
    height: 32px;
    background: url(/image/site_bg.png) no-repeat -153px -850px;
    border: none;
    color: #FFF;
    padding-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
}

.rem_sub input.sub_button:hover {
    background-position: -153px -882px;
    cursor: pointer;
}



