@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-01-27 16:59:07
 * @version $Id$
 */
*{
	margin:0;
	padding:0;
}
html{
	overflow:hidden;
}
html,body{
	margin:0;
	padding:0;	
}
body{
	width:100%;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
#search_result_display img{
/*	width:300px;
	height: 250px;*/
}
.wrap{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:100%;
	margin:0 auto;
}
header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background-color:#36CC87;
	height:60px;
}

.round{
	position:absolute;
	width:0;
}
.round1{
	border:15px solid #FFFFFF;
	border-radius:15px;
	right:10px;
	top:15px;
}
.round2{
	border:12px solid #FFFFFF;
	border-radius:12px;
	right:50px;
	top:18px;
}
.round3{
	border:8px solid #FFFFFF;
	border-radius:8px;
	right:80px;
	top:22px;
}
.main{
	position: absolute;
	top:60px;
	left:0;
	bottom:30px;
	overflow-y:auto;
	overflow-x: hidden;
	width:100%;	
}
.mainbody{
	position:absolute;
	top:0;
	bottom:0;
 	left:50%;
 	transform:translateX(-50%);	
	background-color:white;
	height:100%;
}
@media (max-width: 768px) {
	.mainbody{
		width:100%;
	}
	.stu_system_name{
		width:90%;
	}
	.stu_data_head{
		width:90%;
	}
}
@media (min-width: 768px) {
	.mainbody{
		width:70%;
	}
	.stu_system_name{
	width:80%;
	}
	.stu_data_head{
	width:100%;
	}
}
.stu_data_head{
	box-sizing: border-box;
	padding-left:20px;
	position:relative;
	width:100%;
	height:40px;
	border-bottom:1px solid rgb(217,217,217);
	background-color: white;
}
.stu_data_head span{
	color:#AFAFAF;
	display: inline-block;
	box-sizing: border-box;
	height:40px;
	padding:12px 5px;
	position:absolute;
	
	font-size: 13px;
}
.stu_data_head span:nth-child(2){
	right:15px;
}
.stu_data_head span:nth-child(1){
	left:15px;
}
.submit_form,.stu_data_head span a{
	width:50px;
	color:white;
	font-size:13px;
	margin-top:-5px;
	background-color:#0DCEE2;
	border:1px solid #0DCEE2;
	border-radius:4px;
	padding:3px;
}/*设置按钮样式*/
.stu_data_head span a{
	padding:5px;
}
.stu_system_name{
	margin:40px auto;
	border-bottom: 1px solid rgb(217,217,217);
}
.stu_system_name p{
	text-align:center;
	color:rgb(127,127,127);
}
.stu_system_name p:nth-child(1){
	font-size:35px;
	margin-bottom: 20px;
}
.stu_system_name p:nth-child(2){
	font-size:12px;
	margin-top:-10px;
}
.operation_choose{
	margin:25px auto;
}
.operation_choose input{
    width:100px;
    height:40px;
    border-top-width: 0px;
	border:1px solid #0DCEE2;
	background-color:#0DCEE2;
	border-radius: 4px;
	border-bottom: 1px solid rgb(217,217,217);
	color:white;
	font-size: 13.5px;

}
.operation_choose .show_topicRaise{
	background-color:#EFEFEF;
	color:black;
	border:1px solid #EFEFEF;
}
.operation_choose .show_topicRaise:hover{
	background-color:#0DCEE2;
	border:1px;
	color:white;
}

.topic_selection form{
	
	text-align: left;
	margin:20px auto;
	margin-bottom: 30px;
	

}

.topic_selection select{

	border:1px solid #C0C0C0;
	margin-right: 20px;
	margin-bottom: 10px;
}
#search{
	background-color: #0DCEE2;
	border:1px solid #0DCEE2;
	border-radius: 4px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.keyword{
	margin-right: 20px;
	margin-bottom: 10px;
}
.topic_selection form .form-control{
	width:180px;
	display: inline-block;
	height:30px;
	font-size: 13px;
}
 @media (max-width:400px) {
	.topic_selection form,.topic_selection #search_result_display{
		width:95%;
	}
}
#search_result_display{
	
	margin:0 auto;
}
#search_result_display ul{
	width:100%;
	height:auto;
	border:1px solid #CACAD2;
	margin-bottom: 20px;
	border-radius: 6px;
}
#search_result_display ul li{
	color:#353535FF;
	font-size: 13px;
}
#search_result_display ul li:nth-child(1){
	border-bottom:1px solid #E0E0E0;
	padding:5px 15px;
}
/*#search_result_display ul li img{
	margin:5px 10px;
}*/
#search_result_display ul li:nth-child(2){
	padding:8px 15px;
	height: auto;
}
#search_result_display ul li:nth-child(3){
	border-top:1px solid #E0E0E0;
}
#search_result_display ul li:nth-child(3) div{
	min-height:30px;
	padding:5px 15px;
	padding-bottom: 0px;
	border-bottom: 1px solid #EFEFEF;
}

#search_result_display ul li:nth-child(3) div:nth-last-child(1){
	border-bottom-width: 0px;
}
#search_result_display,.topic_selection form,.operation_choose{
		width:85%;
	}
@media (max-width: 660px){
	#search_result_display,.topic_selection form,.operation_choose{
		width:90%;
	}
}

footer{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:30px;
	background-color:#45AD65;
}
.manager{
	width:100%;
	position:absolute;
	height:25px;
	background-color:#45AD65;
	color:white;
	bottom:0;
	text-align:center;
	font-size:10px;
}